@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* html */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* variables */
:root {
  --bg: rgba(8, 8, 112, 0.9);
  --white: rgba(255, 255, 255, 0.79);
  --yellow: rgb(218, 218, 11);
  --dropdown-bg: rgba(10, 10, 82, 0.9);
  --lightblue: rgb(29, 29, 146);
  --black: rgba(0, 0, 0, 0.8);
  --dark: rgb(0, 0, 0);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, supported by Chrome and Opera */
}

/* navbar section */

#brand-name {
  color: var(--yellow);
}

#logo-img {
  width: 50px;
}

td {
  padding-right: 0.7rem;
}

.nav-link {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: var(--dark);
  color: var(--white);
  padding: 0.5rem 5rem 0.5rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid var(--white);
}

.nav-links ul {
  display: flex;
  gap: 4rem;
}

.nav-link {
  font-size: 0.9rem;
}

.nav-link:hover {
  color: var(--yellow);
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}

.nav-links + button {
  padding: 10px 30px;
  background-color: transparent;
  color: var(--white);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid var(--white);
}

.glow-border {
  width: 120px;
  height: 120px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid var(--white);
  box-shadow: 0px 0px 5px var(--white);
  animation: glow 1s ease-in-out infinite alternate;
  background-color: var(--black);
  color: var(--white);
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 5px var(--white);
  }
  to {
    box-shadow: 0px 0px 20px var(--white);
  }
}

/* Menu bars */
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked {
  transform: scale(1.1);
}

#close-bar {
  position: absolute;
  right: 0;
  top: 10px;
}

/* Navcard */
.nav-card {
  height: 100vh;
  width: 10rem;
  background-color: var(--dark);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  display: none;
  transition: all 0.3s ease-in-out;
  /* transition: transform 1.5s ease-in-out; */
}

.nav-card li {
  display: grid;
  align-items: center;
  text-align: center;
  gap: 3rem;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.nav-card li a {
  transition: all 2s ease-in-out;
}

.display {
  display: flex;
}

/* Main */

.hero_section {
  background-color: var(--dark);
  height: 100%;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 50px;
}

.hero_section_content > h1 {
  font-size: 3rem;
}

.hero_section_content span {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 8rem;
}

.hero_section_image {
  box-shadow:0px 0px 10px;
  border: 30px solid var(--dark);
  border-radius: 15px;
  background-color: var(--yellow);
}

.hero_section_image img {
  transform: rotate(15deg);
  border: 10px solid var(--yellow);
  border-radius: 15px;
  padding: 10px;
}
.hero_section ~ h3 {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}

#about {
  background-color: var(--dark);
  color: var(--yellow);
}

.page.active {
  transform: translateY(0);
}

/* About me */

.about-me {
  display: flex;
  background-color: var(--dark);
  color: var(--white);
  justify-content: space-between;
}

.info {
  width: 50%;
}

.languages {
  width: 50%;
}

.languages ul {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px;
  padding: 20px;
  margin: 20px;
  gap: 10px;
  border-radius: 15px;
  justify-content: center;
}

.languages li {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  gap: 5px;
}

.info {
  text-align: justify;
  font-size: 1.5rem;
  padding: 60px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.languages h2 {
  text-align: center;
  padding: 5px;
  font-size: 2rem;
  color: var(--yellow);
}

#btn_resume {
  background-color: transparent;
  border: 3px solid var(--white);
  padding: 15px 30px;
  width: 240px;
  height: 70px;
  font-size: 1.2rem;
  cursor: pointer;
}

#btn_resume a {
  color: var(--yellow);
}

#btn_resume a:hover {
  color: var(--dark);
}
#btn_resume:hover {
  background-color: var(--white);
  transition: 1.5s ease-in-out;
  color: var(--dark);
}

/* Projects section */

#projects {
  background-color: var(--dark);
  color: var(--yellow);
}

.projects {
  background-color: var(--dark);
  color: var(--white);
}

.projects > p {
  font-size: 1.6rem;
  text-align: center;
  padding: 20px;
}

.project_cards {
  display: flex;
  justify-content:space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.project_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  background-color: var(--dark);
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.16);
  padding: 20px;
  border-radius: 10px;
}

.image_project{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_project img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

figcaption {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

figcaption h1 {
  color: var(--yellow);
  font-size: 1.5rem;
  padding-top: 15px;
}

figcaption p {
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.buttons button {
  width: 150px;
  height: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.buttons button:hover {
  transition: 1s ease-in-out;
  background-color: var(--dark);
}

.buttons a {
  color: var(--dark);
}

.buttons a:hover {
  color: var(--white);
  box-shadow: 0px 0px 3px;
}

.huddle {
  display: flex;
  justify-content: center;
}
.huddle ul{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  width: 40%;
  text-align: center;
}
.huddle_btn{
  background-color: transparent;
  border: none;
}


/* Contact me Section */

#contact_me {
  background-color: var(--dark);
  color: var(--yellow);
}
.contact_me {
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 70px 30px 30px 30px;
}


.contact_me > h1{
  font-size: 3rem;
}

.contact_me > p {
  display: flex;
  width: 50%;
  justify-content: center;
  font-size: 1.5rem;
}

.contact_me button {
  background-color: transparent;
  padding: 17px 35px;
  border: 3px solid var(--yellow);
  cursor: pointer;
  font-size: 1.2rem;
}

.contact_me button:hover{
  background-color: rgba(183, 202, 10, 0.8);
  transition: 1s ease-in-out;
  color: var(--dark);
}

.contact_me button > a {
  color: var(--yellow);
}

.contact_me button > a:hover {
  color: var(--dark);
}
/* footer section */
footer {
  height: 100%;
  background-color: var(--dark);
  position: relative;
}

.media_links {
  padding: 100px 50px 50px 50px;
}

.media_links ul{
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  font-size: 2rem;
  flex-wrap: wrap;
}

.media_links a {
  color: var(--yellow);
}

.media_links a:hover {
  transition: 1s ease-in-out;
  color: var(--white);
}

.media_links li {
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px #fff;
  background-color: var(--dark);
  border-radius: 5px;

}


.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: var(--white);
  text-align: center;
  justify-content: center;
  justify-self: center;
  padding: 50px 50px 30px 50px;
}

@media (max-width: 763px) {
  .nav-links,
  .nav-links + button {
    display: none;
  }

  #hamburger-menu {
    display: flex;
  }

  nav {
    padding: 0.5rem 0.7rem;
  }

  .wrapper #output-text {
    font-size: 2.5rem;
  }

  .hero_section {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
   }

  .hero_section_image img{
    width: 200px;
  }
   
  .hero_section_content > h1{
    font-size: 1.2rem;
  }

  .hero_section_content span{
    text-align: center;
    font-size: 3rem;
  }

  .about-me {
    flex-direction: column;
  }

  .info,
  .languages {
    width: 100%;
  }

  .info {
    padding:10px;
  }

  .info p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
  }
  .glow-border {
    width: 90px;
    height: 100px;
    padding: 5px 10px;
  }
    
  

  .languages ul {
    justify-content: space-around;
  }
  .languages button span {
    font-size: 0.6rem;
  }

  #git_logo {
    width: 50px;
  }

  .project_cards {
    flex-direction: column;
    gap: 30px;
  }

  .project_card {
    height: 100%;
    width: 100%;
    padding: 20px;
  }
   
  .buttons button{
    width: 100px;
    font-size: 1rem;
  }

  figure img{
    object-fit: contain;
  }

  .huddle ul{
    width: 60%;
    padding: 5px;
  }

  .contact_me{
    padding: 15px;
  }

  .contact_me > h1{
    font-size: 2rem;
  }

  .contact_me > p {
    width: 100%;
  }
 
}
