@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Great+Vibes&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  /* font-family: "Montserrat", sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg: rgba(8, 8, 112, 0.9);
  --white: rgba(255, 255, 255, 0.79);
  --yellow: rgb(218, 218, 11);
  --dropdown-bg: rgba(10, 10, 82, 0.9);
  --lightblue: rgb(29, 29, 146);
  --black:rgba(0,0,0,0.8);
  --dark:rgb(0,0,0);
}

body {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, supported by Chrome and Opera */
}

#brand-name {
  color: var(--yellow);
}

#logo-img {
  width: 50px;
}

td {
  padding-right: 0.7rem;
}

a {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: var(--black);
  color: var(--white);
  padding: 0.5rem 5rem 0.5rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid var(--white);
}

.nav-links ul {
  display: flex;
  gap: 4rem;
}

.nav-link {
  font-size: 0.9rem;
}

.nav-link:hover {
  color: var(--yellow);
  transition: 0.5s ease-in-out;
  transform: scale(2rem);
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked{
  transform: scale(1.1);
}

#close-bar {
  position: absolute;
  right: 0;
  top: 10px;
}

/* Navcard */
.nav-card {
  height: 100vh;
  width: 10rem;
  background-color: var(--dark);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index:8;
  display: none;
  transition: transform 1.5s ease-in-out;
}


.nav-card li {
  display: grid;
  align-items: center;
  text-align: center;
  gap: 3rem;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.display {
  display: flex;
}


/* Main */

.section {
  background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url(../img/bg-image.jpg) no-repeat center;
  background-size: cover;
  color: var(--white);
  height: 700px;
  background-blend-mode: multiply;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 40px;
  text-align: center;


}

.wrapper .static-txt {
  font-size: 4rem;
}

.wrapper #output-text {
  font-size: 3rem;
}

.section~h3 {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}



/* About me */



.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
  background-color: var(--dark);
  color: var(--white);
}

.page.active {
  transform: translateY(0);
}

.info p {
  font-size: 1.5rem;
}

#about {
  background-color: var(--dark);
  color: var(--white);
  
}

.languages ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--dark);
  color: var(--white);
  box-shadow: 0px 0px 20px var(--white);
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.languages li {
  padding: 30px;
}


@media (max-width:730px) {
  .nav-links {
    display: none;
  }

  #hamburger-menu {
    display: flex;
  }

  nav {
    padding: 0.5rem 0.7rem;
  }

  .about-me {
    grid-template-columns: 1fr;
  }

  .info {
    height: 100%;
    width: 100%;
  }

  .wrapper .static-txt {
    font-size: 3.5rem;
  }

  .wrapper #output-text {
    font-size: 2.5rem;
  }

  .languages ul {
    grid-template-columns: repeat(2, 1fr);
  }
}